[2020-01-09 08:32] chriswalg opened #1 "@sum.cumo/vue-datepicker for yarn download in package.json"
I added this line in my package.json:
` "@sumcumo/vue-datepicker": "^1.0.2"`
But it can't be downloaded. That is the naming in doku. I replaced it to  `"@sum.cumo/vue-datepicker": "^1.0.2"` and than download works.

I have this in my yarn.lock:
[code]

[2020-01-09 08:50] chriswalg opened #2 "Module not found: Error: Can't resolve"
I added

[code]

 in my vue file and get this message:

If I changed it to:

I get this message:

[2020-01-12 19:30] svewag commented on #2
Hey @chriswalg, I will talk to @MrWook and we will have a look at this!

[2020-01-12 19:31] svewag commented on #1
Hey @chriswalg, I will talk to @MrWook and we will have a look at this!

[2020-01-13 07:36] MrWook commented on #1
Thanks for the report i update the documentation to the correct naming.

[2020-01-13 07:36] #1 closed

[2020-01-13 07:38] MrWook commented on #2
Thanks again for the report. This is fixed in the newest version 1.0.3

[2020-01-13 07:38] #2 closed

[2020-01-13 16:54] chriswalg opened #3 "spaces missing for translation import"
I just added   `import {en} from '@sum.cumo/vue-datepicker/dist/locale'
` but vue crashed and want spaces after and before { }

It works with `import { en } from '@sum.cumo/vue-datepicker/dist/locale'`

Can you please update your docs?

[2020-01-13 17:08] chriswalg opened #4 "Can't import style css"
I can't import the css style file.

[code]

[code]

[code]

[code]

Any ideas what is wrong?

[2020-01-13 19:01] chriswalg commented on #4
I moved the import to <scripts>  and that works.

[code]

[2020-01-14 08:10] MrWook commented on #3
This is your eslint or other linting config and has nothing to do with the project. But i agree that it is more convenient to have those spaces so i will add them.

[2020-01-14 08:10] #3 closed

[2020-01-14 08:42] MrWook commented on #4
Hey the documentation was missing a tilde but this would be still confusing so i [documented](https://sumcumo.github.io/vue-datepicker/guide/#usage) three ways to import the css

1. Like you did inside the script tag
2. My first attempt with a import inside the style tag but this requires the css-loader
3. With SASS

[2020-01-14 08:42] #4 closed

[2020-01-17 09:00] chriswalg opened #5 "Datepicker should only open when you click the button"
Is it possible that the date picker only opens via the extra button and not via the form field?

[2020-01-20 09:10] MrWook commented on #5
Sure, i will look into it.

[2020-01-27 13:11] MrWook commented on #5
Added in the new release https://github.com/sumcumo/vue-datepicker/blob/master/CHANGELOG.md

[2020-01-27 13:11] #5 closed

[2020-02-17 16:48] chriswalg commented on #5
The date picker will still open via the input field if `typeable = true` is set.

[2020-02-17 21:04] MrWook commented on #5
I'm sorry but i can't really reproduce this issue. Could it be that you have `show-calendar-on-focus` on true?

[2020-02-18 16:08] chriswalg commented on #5
You can have a look at:
https://codesandbox.io/s/sumcumovue-datepicker-show-calendar-on-button-w6lf0

[2020-02-18 20:35] MrWook opened #6 "Typeable will trigger the open event with show-calendar-on-button"
In https://github.com/sumcumo/vue-datepicker/issues/5 it's reported that if you use `show-calendar-on-button` with `typeable` the input field will trigger the open event.

Reproduction:
https://codesandbox.io/s/sumcumovue-datepicker-show-calendar-on-button-w6lf0

[2020-02-18 20:36] MrWook commented on #5
Thanks alot i will look into it. Kinda weird that i could not reproduce this issue on the demo page. I opened a issue for this bug

[2020-02-19 00:51] chriswalg opened #7 "formatStr.match is not a function"
After the update from  "vuejs-datepicker": "^1.6.2" to "@sum.cumo/vue-datepicker": "^1.1.0"
shows "formatStr.match is not a function" in browser console.

https://codesandbox.io/s/sumcumovue-datepicker-format-by-date-fns-d9vz1

[2020-02-19 08:10] MrWook commented on #6
hey @chriswalg
Found the error. The property is called `show-calendar-on-button-click`. The documentation is wrong. I will update it.

[2020-02-19 08:17] chriswalg commented on #6
Thanks, that works.

[2020-03-19 09:19] MrWook commented on #6
Fixed in the new release https://github.com/sumcumo/vue-datepicker/blob/master/CHANGELOG.md

[2020-03-19 09:19] #6 closed

[2020-03-19 09:19] MrWook commented on #7
Fixed in the new release https://github.com/sumcumo/vue-datepicker/blob/master/CHANGELOG.md

[2020-03-19 09:19] #7 closed

[2020-04-16 14:37] BerciTheBeast opened #8 "Formatting not working with typeable"
When choosing anything but the default format, inputting your own values does not work. Example: https://sumcumo.github.io/vue-datepicker/demo/Typeable/

Similar issue:
https://sumcumo.github.io/vue-datepicker/demo/Formatting/
select 15.4.2020 in the lower field. Change it with the keyboard to 18.4.2020, then click outside of the field. When you click on the field again, it reverts to 15.4.2020.

[2020-04-21 06:19] MrWook commented on #8
The normal formatting isn't really reliable in the first place but the demo should definitely work. So i will look into it. Thanks for the report

[2020-04-27 13:51] #8 closed

[2020-06-03 22:38] axeh opened #11 "ref-name property is not binding"
Hi, I am using your component and I am trying to bind ref-name.
But generated HTML, doesn`t have ref set.

Can you help?

Best regards,
Alen

[2020-06-22 09:19] MrWook commented on #11
Hey @axeh
sorry for the late reply.
The `ref` prop won't be shown in the HTML, this is a vue internal property that isn't rendered.

If you want to access the input field you can either use a combination of `ref` and `ref-name`
too access the input field or only use `ref` and query the input field.

[code]

Will this help you?

[2020-06-23 06:23] axeh commented on #11
I did manage to solve my problem (similar like you wrote).
Thx

[2020-06-23 09:49] #11 closed

[2020-07-01 06:51] sebsobseb opened #12 "[Question] Migration from original vuejs-datepicker"
Hey,

I assume this repo will be more active than the original [vuejs-datepicker](https://github.com/charliekassel/vuejs-datepicker) repo, which is basically dead since a year. Big thanks for that 👏

My question(s):
- Can we safely migrate?
- Is there some kind of migration readme that explains how we can migrate from the original vuejs-datepicker to this one?
- Are there notable breaking changes?

[2020-07-02 06:39] MrWook commented on #12
Hey,

we tried to stay on the same track as the original but there are a few breaking changes, duo to some bug fixes and improvements.
All breaking changes are inside the `changelog.md` but this should be it:

- Events are kebab-case
- extract css in own file so you need to import it by yourself. You can check it out in the documentation https://sumcumo.github.io/vue-datepicker/guide/#usage
- If y

[2020-07-06 14:29] sebsobseb opened #17 "Datepicker popup gets clipped inside overflow scroll content"
Because the datepicker is placed directly below the input field, the datepicker gets clipped when the input is inside an overflow scroll content. For example when you have a y-scrollable content inside a modal (with max height 50vh).

![image](https://user-images.githubusercontent.com/3526974/86604424-a52e3780-bfa5-11ea-8f40-599d19364391.png)

I've minimalized the issue in this codesandbox:
https:

[2020-07-07 14:53] MrWook commented on #17
I guess the only proper way to fix this is to include it to the body. If you have an idea how to do it, i'm all in. I think the usage of `fixed` would be pretty weird and needed a lot of work because you would need to keep track of the input field while scrolling. There are too many unknown things that could break this and would be slow down the website.
I guess the calendar would need to be mount

[2020-07-08 16:36] gerbender017 opened #18 "How can you implement the auto-focus and required for the component??"
i tried to apply the required property but it does not work
![image](https://user-images.githubusercontent.com/37501999/86945877-29d2ae80-c17c-11ea-94e6-a4dda55a5727.png)

[2020-07-09 05:54] MrWook commented on #18
By default the Datepicker input field is readonly, which is not compatible with the default html validation of required. Either use a custom validation or use the prop `typeable` which removes the readonly prop.

Do you mean with `auto-focus` default html attribute `autofocus`? Currently the library doesn't pass on the attribute to the input field and would needed to be implemented.

[2020-07-09 05:57] gerbender017 commented on #18
yes it is what i want for now

[2020-07-09 06:19] MrWook commented on #18
I created a PR for it which will be released at some point today.

[2020-07-09 12:42] #18 closed

[2020-07-29 02:46] srchulo opened #22 "SSR support?"
Thank you for taking over the old vue-datepicker!

I was wondering if it may be possible to add SSR support? I currently have to have this in my Vue components:

[code]

And without the input already being rendered, it causes my page to flash on load.

[2020-07-29 05:29] MrWook commented on #22
Actually the Datepicker should work just fine in a SSR environment. Can you show me how you initialize the Datepicker?

Neverless if the datepicker is a problem for you i suggest that you create a custom datepicker component like in the [documentation ](https://sumcumo.github.io/vue-datepicker/guide/#usage) where you use a v-if to only render the datepicker on the mounted hook.
This would a cleane

[2020-07-29 05:57] #12 closed

[2020-07-29 18:43] srchulo commented on #22
Ah, sorry about that! You are correct-- it does work in an SSR environment.

Maybe I had this bug with the original vue-datepicker and it went away when I switched to your version.

Sorry for the confusion, and thanks again for maintaining this :)

[2020-07-29 18:43] #22 closed

[2020-08-10 14:34] jzelinski opened #24 "IE11 Compatability"
Appreciate all the effort that you have done so far, but have a question on the IE11 compatibility. It appears that through some of the changes that have been completed that this will no longer work in IE11. Was this intended to drop compatibility for IE11?

[2020-08-10 14:45] MrWook commented on #24
This was not intended at all. I will check it out when i'm at my windows computer.

[2020-08-12 08:45] #24 closed

[2020-08-12 20:42] jdcifuentes commented on #17
I just have the same issue. Any solution for this? or what other approach I can take to overcome this.

[2020-08-13 05:15] MrWook commented on #17
Unfortunately, i didn't had the time to dig deeper. But like i said this would need a lot of refactoring which takes some time.
The calendar would need to be moved out of the Datepicker.vue and either need to be opened with a v-if like before or need to be added programmatically to the body.

[2020-08-18 14:55] sebsobseb commented on #17
@MrWook You will see that this datepicker supports it via an optional prop `append-to-body`: https://github.com/mengxiong10/vue2-datepicker#props

It appends the datepicker to the body, and re-calculates the position when scrolling/resizing the screen (like you already said). Maybe worth checking out how it was done there?
Example: https://mengxiong10.github.io/vue2-datepicker/

[2020-08-31 14:24] sebsobseb opened #28 "Set time via props"
Hi,

Right now, when you select a date, the time is always the current time. This is fine in the majority of the cases.
But, I think it would be useful if we could set the time of the date that is emitted to v-model.

**Context**: I have a project where we have a lot of datepickers for "from" and "until" dates.
We always want to force the time of "from" dates to 00:00:00 and "until" dates to 23:59

[2020-09-04 13:40] MrWook commented on #28
Hm i see your point but this isn't just "set the time to xy" because the datepicker can distinguishes between utc and the local timezone.
If you use the utc prop the model of your datepicker can be different from what the picked date actual is.
For example if you select `2020-08-01` and you are in a timezone before utc like somewhere in america with CDT which is -5 the model of the date would be `

[2020-09-09 06:25] sebsobseb commented on #28
@MrWook Ok, good point. Is it an option to only make it work when you don't use the utc prop?

[2020-09-19 09:03] mst101 opened #29 "Nov shows as Nthv"
I guess the following change is causing this:

`su -> o for st, rd, nd, th additions`

[2020-09-19 12:07] mst101 opened #30 "Many props not being picked up"
You appear to have ripped out lots of props from the original object e.g. `ref-name`, `openDate`, `placeholder` to name just a few...

I'm getting the impression I'd be better off making my own fork of Charlie Kassel's original version of [vuejs-datepicker](https://github.com/charliekassel/vuejs-datepicker) and making my own modifications from there e.g. to allow keyboard navigation.

It's a shame

[2020-09-19 12:21] MrWook commented on #29
To give this some more context, this error occures on the formatted value of the input field.
I will look into this

[2020-09-19 12:25] MrWook commented on #30
I'm sorry but the `props` that you mentioned are working just fine on the [demo ](https://sumcumo.github.io/vue-datepicker/demo/) page

We tried to make just a few breaking changes and we didn't removed any props.
Can you specify your problem, with a reproduction link?

If you want to add a feature or fix a bug feel free to submit a pull request

[2020-09-19 12:42] mst101 commented on #30
I can't see any reference to the props I mention on that demo page. I can see a reference on [this documentation page](https://sumcumo.github.io/vue-datepicker/guide/Props/), but as you can see e.g. in [the code for the Datepicker object](https://github.com/sumcumo/vue-datepicker/blob/master/src/components/Datepicker.vue), the props I mentioned have been stripped out - as well as many more besides

[2020-09-19 12:51] MrWook commented on #30
Those props are inside the [`inputProps` ](https://github.com/sumcumo/vue-datepicker/blob/master/src/mixins/inputProps.vue) mixin and are used inside the component. If they were not available, this whole library would not work anymore because of a vue error.

[2020-09-19 13:10] mst101 commented on #30
Ah ok.... mixins. Let me muddle around a bit more and I may yet take it all back ;-)

I can't say I'm a great fan of mixins - I've used them in my own code before, but found they made things harder to reason about when I came back some months later.

[2020-09-19 13:15] MrWook commented on #30
I'm totally with you but with this many props that are just lying around its hard to focus on the real stuff. So i moved duplicated props out of the component into a mixin.

[2020-09-19 13:50] mst101 commented on #30
Fully understand now, thank you.

And apologies for my tone... I was getting pretty frustrated with finding a decent date picker - but now I can see where the props have gone (!), I think this is the best one I can find.

On the subject of mixins, Adam Wathan and Chris Fritz had some helpful things to say towards the end of [this podcast](https://fullstackradio.com/87). Also, Adam's [Advanced Vue

[2020-09-19 13:51] #30 closed

[2020-09-24 15:26] mst101 opened #31 "Keyboard accessibility - First day of week - Blank days"
@MrWook - Having recently made a fool of myself by wrongly accusing you of [all sorts of nonsense](https://github.com/sumcumo/vue-datepicker/issues/30), I thought I'd let you know that I've been working on a few new features for the datepicker which I hope you (and others) will find helpful:

1. Keyboard navigation: I think this is critical for accessibility reasons
2. First day of week: the compo

[2020-09-25 09:52] mst101 commented on #31
I've fixed the daylight saving issue now -  see [work-in-progress](https://bit.ly/2Huxlmf).

I was overcomplicating things by referring to the focused cell by its `timestamp` when I should simply have referred to its position in the grid :-)

Ok, it's time to look into these tests...

[2020-09-26 15:22] MrWook commented on #31
Hey @mst101
thank you very much, i really appreciate your efforts. You could already create a pull request so i could review it.

On the demo page i saw that the popup only closes on a second click on the input field, which is a major change from the previous handling, this could break some tests.

All three point are awsome and i look forward to your pull request :)

[2020-09-27 08:26] trihargianto opened #32 "Add prop to customize year range picker"
Hi,
currently we have a decade range when choose year picker

![Screenshot 2020-09-27 at 15 21 23](https://user-images.githubusercontent.com/18502234/94360107-593aec80-00d5-11eb-9b71-834c760b583b.png)

I think it's good if we have a prop to customize this range. For example `year-picker-range` and set it to 12

So the result will be like this
![Screenshot 2020-09-27 at 15 25 16](https://user-image

[2020-09-28 07:10] mst101 commented on #31
Great! I'm glad you find this helpful.

I'm making good progress with the tests, but as you've noticed, there are still a few things I need to iron out before submitting a PR. Let me crack on for another day or two...

[2020-09-29 21:53] abezulski opened #33 "TypeScript support"
More of a question than issue: is there a types definition for TypeScript or do I need to create my own d.ts file as a workaround?

[2020-09-30 22:27] mst101 commented on #31
Submitted a PR here: #34

[2020-10-05 06:35] MrWook commented on #32
Shouldn't be too hard to implement i will look into it or feel free to contribute and open a PR.

[2020-10-05 07:22] MrWook commented on #33
I'm sorry but this project is not written in typescript therefore there is no typescript declaration file.
It would be a alot of work to move to typescript to generate the declaration files but it could be done.

Maybe after the two big changes that are currently open.

[2020-10-05 12:18] #29 closed

[2020-10-05 18:06] trihargianto commented on #32
Great! can you assign this issue to me? @MrWook

[2020-10-07 16:48] sebsobseb commented on #17
I came up with a nasty workaround, where It listen for scroll event on the element with overflow-y-scroll (in this case element with class `.modal-card-body`) and change the position of all the datepickers inside it via negative margin top.

This is the mixin:
[code]

Note: Can be cleaned up further by using `refs` instead of `querySelectorAll()` & `querySelector()`...

[2020-10-09 12:43] MrWook commented on #32
I already did it because i was interested. https://github.com/sumcumo/vue-datepicker/pull/38

I'm sorry if i had you looked into it and wasted some time :(

[2020-10-09 17:54] trihargianto commented on #32
@MrWook I just started to work on it, coz I was planned to do it on weekend.
Glad if you already do it. Maybe I can contribute to other Issues.

You can close this issue  now 😁

[2020-10-16 11:53] #32 closed

[2020-10-16 12:18] #17 closed

[2020-10-20 14:29] bg opened #42 "Two column layout"
Thanks for taking over development of vuejs-datepicker.

Have you considered supporting a two column layout? We're switching to vue-datepicker from a different component that supported this but is otherwise unsuitable for our present-day needs. Having two months side by side (if screen size allows) makes it easier when the current date is close to the end of the month to select a new date at the s

[2020-10-20 14:33] MrWook commented on #42
I'm not really sure what you mean.
Can you provide me with an image or the link to the other component?

[2020-10-20 14:37] bg commented on #42
Sure. This is the old JQueryUI-based component we're replacing with Vue:

![image](https://user-images.githubusercontent.com/160363/96601485-71fb8400-12c8-11eb-9502-cb6818ac7ccd.png)

Also, here's a rejected alternative Vue component because this one lacks support for older browsers that some of our users still use (though we're strongly encouraging them to get off it).

https://vcalendar.io/layou

[2020-10-21 09:15] MrWook commented on #42
I'm sorry but i don't think that i will put any effort in this feature. This doesn't look usable and pretty annoying for keyboard navigation which is currently under development by a Contributor.
Additionally i think this will be a lot of work because it will change the html completely. All this work is not in relation to save one click which is rarely used.

Thought you still have the property `t

[2020-10-23 12:28] bg commented on #42
Thanks for taking the time to consider our request. Some of our users will feel the loss of this convenience, I'm sure, but I hope the other improvements will outweigh that.

[2020-10-27 13:44] MrWook commented on #42
There is a PR to fill the blank days from the previous and last month https://github.com/sumcumo/vue-datepicker/pull/46
This could help you for some month where are blank dates.
This way you only need to click once for some month.
Kinda like this:
![image](https://user-images.githubusercontent.com/20294042/97309890-e1dab300-1862-11eb-9a2b-1a69bd16cc8f.png)

[2020-11-03 09:14] xcodervv opened #48 "November title shown isn't correct"
Hi. November title shown isn't correct.
![Screenshot from 2020-11-03 12-10-16](https://user-images.githubusercontent.com/57146142/97967236-dc2a2380-1db4-11eb-999a-36b5ab956f33.png)
Seems it should look like something like 03 Nov 2020.

[2020-11-03 10:09] MrWook commented on #48
Hey thanks for the report but this should already be fixed with [2.1.2](https://github.com/sumcumo/vue-datepicker/blob/master/CHANGELOG.md#212-2020-10-05)

Are you using the newest version?

[2020-11-03 13:18] xcodervv commented on #48
My version is 2.1.1. I'll try to update and if it works - i'll give you my apologies.

[2020-11-03 13:26] xcodervv commented on #48
Sorry, my mistake. I'd updated and now its works fine. Thanks for your quick answer.

[2020-11-03 13:26] #48 closed

[2020-11-04 16:59] KevinLevesque opened #49 "Typeable date timezone problem"
Hi, first of all thanks for forking and your contribution to this project!

I stumbled on a problem with the datepicker when typing the date (typeable prop set to true).
It seems the parsable date string is built as UTC and if browser local is in a "negative" timezone, the final parsed date will be yesterday and not the actual typed date.

![datepicker](https://user-images.githubusercontent.com/75

[2020-11-05 06:40] MrWook commented on #49
Hello there,
Thanks for the report i will look into it!

[2020-11-09 14:39] #49 closed

[2020-11-10 10:12] faebeee commented on #49
@MrWook I've seen you fixed the issue. When will it be released? It's kinda very important for us, to have this fix in our app

[2020-11-16 08:05] MrWook commented on #49
@faebeee sorry that it took so long. I just release 2.1.3. If you have any more problems let me know.

[2020-11-19 05:47] threeFatCat opened #55 "Timezone support or custom today date?"
I was checking the original package, and found your package.

I was thinking, if is it possible to pass custom 'today's' date? Like I have an app, that each user has different timezone. Though I can pass in the `value` prop for the selected date, it seems there is no way to change the highlighted today's date. Where the custom today's date can be a server side calculated string for the specific us

[2020-11-19 06:30] MrWook commented on #55
hey,

i'm kinda confused from you question.
If users have different time zones, they will see different times anyway, so you don't have to do anything.
If it is "2020-11-19T06:00:00Z" for me today and a user lives in Las Vegas with time zone "PST -8", it is only "2020-11-18T22:00:00" for him. So his today within the datepicker is a different one than mine
Another user who lives in New York with th

[2020-11-19 06:45] threeFatCat commented on #55
You can use this as reference: https://www.timeanddate.com/worldclock/full.html, there are some timezone that date is ahead or behind from each other, and sometime it will vary at the specific hour of the day. Anyway, I already figured it out. I just used the prop `day-cell-content` and validated if the passed user's date is the same to the current date in the calendar, if not then changed the `is

[2020-11-19 06:45] #55 closed

[2020-11-19 07:25] MrWook commented on #55
I know about https://www.timeanddate.com/worldclock/full.html that basically what i tried to explain.
If two users have completely different timezones and User 1 is one day behind User 2. User 1 will have "today" as 2020-11-18 and User 2 will have "today" as 2020-11-19.

Isn't this exactly what you are trying to achive with some custom server stuff?

[2020-11-19 08:29] threeFatCat commented on #55
a yeah, but the scenario was User 1 is in the timezone -5 but he wants to set the app to a different timezone the same as user 2. So the whole app shifted to a different timezone from the user 1 original timezone. I think currently, the today's date on the calendar is base on the system time `new Date()`, maybe?. So the highlighted date inside the app is stuck to the user's place timezone.

[2020-11-19 09:29] MrWook commented on #55
Ah okey now i get it.
Yeah the calendar is based on the system time with `new Date()`

[2020-11-29 11:56] shinnlu opened #58 "how to post value as custom formatter"
i have use format as demo, but post value is different:2018-09-19T16:00:00.000Z
the value i expected is: 2018-09-19
`<datepicker class="form-control" v-model="item.PayDate" :format="customFormatter" :clearButton="true" :parser="customParser"></datepicker>
`
[code]

[2020-11-30 06:30] MrWook commented on #58
Hello there,

this datepicker always returns a date object for v-model. The formatter and parser are meant for the input field only as a view value.

[2020-11-30 08:28] shinnlu commented on #58
thank you.

[2020-11-30 08:28] #58 closed

[2020-12-08 13:11] alexcroox opened #60 "Relative position overflow"
![image](https://user-images.githubusercontent.com/1065835/101487894-bd402380-3956-11eb-85e1-28b5ab99215e.png)

I have a datepicker that's close to the edge of a container div, due to the relative position of this plugin it gets hidden behind the overflow. Has anyone encountered this before? I assumed it was absolutely positioned until I stumbled on this.

[2020-12-08 13:19] MrWook commented on #60
Hey @alexcroox thanks for the report but this was already mentioned in https://github.com/sumcumo/vue-datepicker/issues/17

A extra property to customize this will be shipped in the next major release

[2020-12-08 13:23] alexcroox commented on #60
Fantastic thanks for your hard work!

[2020-12-08 13:23] #60 closed

[2020-12-13 15:38] Ariyatep opened #61 "BuddhistEra extends"
can i custom year (B.E.) Buddhist Era format ?

Anno Domini (A.D.) : 2020
Buddhist Era (B.E.) : 2563

Like this in Bootstrap http://jojosati.github.io/bootstrap-datepicker-thai/demo

[2020-12-16 13:47] MrWook commented on #61
Hey, the Datepicker is using the browser Date Object. If i need to guess i would say that if your browser supports it and is using it too, it should be `B.E.` but i'm not sure i never testet this. I don't even know how i should check this.

[2021-01-07 09:32] KatjaSuvajac opened #64 "Mark current date when datepicker opens."
Hello!

I would like to configure the datepicker in such a way, that the current date would be marked when the user opens the picker. I was looking through the documentation but I have not found a way to do this.

Am I missing something in the documentation?

Thank you!
Kind regards,
Katja

[2021-01-07 12:56] MrWook commented on #64
Hey,

the current day has a `today` class on it so you can style it as you wish.
For example you could do it like this
[code]

But you are right it's not mentioned in the documentation and maybe it would be a good idea to highlight it by default 🤔

Probably with my example above 🤔

[2021-01-07 13:06] KatjaSuvajac commented on #64
That was precicesly what I needed, thank you very much!

Yes, adding a note in the documentation that it is possible (maybe in a custom styling section, how to style the cells of days, months and years and so on) would be benefitial :) even adding it by default is nice, that way you can just inspect and then customise however you might like. Whichever way you go, it would be a good addition.

Than

[2021-01-13 12:21] matjaz321 opened #67 "Close calendar with button when clicking anywhere on the page"
Can you add support (new prop) to close calendar if it was opened by pressing on the calendar icon?
Right now it can only be closed if you click on the button.

[2021-01-13 15:37] Grutto78 opened #68 "Value set to null on Safari 14 with format "MMMM yyyy""
To reproduce, create a datepicker with the following attributes:
- format: "MMMM yyyy"
- minimum-view: "month"
- typeable: true

When selecting a date, value is set to null instead of the selected date.
This only seems to be the case in Safari 14, Chrome works fine.
For now I fixed this by setting typeable: false.
If you have any questions or remarks about this, please let me know.

[2021-01-13 15:39] matjaz321 opened #69 "Bug report: Disabled date functionality not working correctly with default dates"
### Steps to reproduce
- Create datepicker and set default value to be `new Date()`
- Add this function and pass it as a prop `:disabled-dates="disabledDates"`
[code]
- Open datepicker and you will see that all past dates including `new Date()` are going to be disabled.
- Now select any other date and open calendar again
- You will see that selected date is not disabled

The same bug is occurred i

[2021-01-13 15:51] MrWook commented on #69
Hey thanks for the bug report, i can reproduce it and fix it.
If the default date is in the disabled range it should not be set

[2021-01-13 16:01] MrWook commented on #68
Hey thanks for the report. I could reproduce the issue on safari and on firefox.
I will fix it.

[2021-01-13 16:31] MrWook commented on #67
Do you mean this button https://sumcumo.github.io/vue-datepicker/demo/#with-button ?
Currently the picker will close on an additional button click, date selection or an input blur. This means if you click on the input field and click outside of it, the picker will close.

[2021-01-14 08:30] matjaz321 commented on #67
Yes let me give you steps to reproduce:
- Click the button to open a datepicker on this page https://sumcumo.github.io/vue-datepicker/demo/#with-button
- Now try clicking anywhere on the page and the datepicker will not close
- Now click on the input field and then if you click anywhere on the page, only then the button will close

[2021-01-18 06:49] #68 closed

[2021-01-18 06:50] #69 closed

[2021-01-18 21:44] mreall opened #74 "How to use the clear-button-icon prop?"
I added the ```clear-button clear-button-icon="fa fa-times"``` props as shown on the Available Props page , but the fa-times icon doesn't appear. I installed vue-fontawesome per [their instructions](https://github.com/FortAwesome/vue-fontawesome), but still no icon.

The solid fa-times icon is part of the 'fas' library, so I also tried ```clear-button-icon="fas fa-times"```, but that didn't work e

[2021-01-18 23:00] mreall commented on #74
I was able to get the icon to appear with the following code in main.js.
[code]
However, Font Awesome surrounds the ```<i>``` tag in a comment.  Because the ```<i>``` tag contains its own HTML comment, the Font Awesome comment becomes visible to the end user.

Any suggestions?

[2021-01-20 08:49] #64 closed

[2021-01-20 08:51] #74 closed

[2021-01-20 12:03] TomKeyte opened #77 "Calendar flickers on click to focus, when show-calendar-on-focus is enabled"
When a date is selected, the input does not lose focus. This means to re-open the datepicker via a click in the input, a user has to click outside (blur) the input, and then click inside again. If the input was blurred when a date is selected, this would not happen

[2021-01-20 13:02] MrWook commented on #77
Can you provide me with a reproduction sandbox or specify your setup (how do you call the datepicker, which props are you using etc.)?
Because I can't reproduce this issue on the demo site https://sumcumo.github.io/vue-datepicker/demo/#default

[2021-01-21 09:41] mst101 commented on #67
Perhaps the naming of the `show-calendar-on-button-click` prop could be improved?

We already have the `calendar-button` prop to determine whether or not to show a button - and should we choose to do so, it goes without saying that we would expect clicks on that button to toggle the calendar.

The docs state that the purpose of the `show-calendar-on-button-click` is to "Only open the calendar on c

[2021-01-21 10:13] MrWook commented on #67
So to break it down we want something explicit like this:

### **Default:**
- opens on:
  - click on input field
- closes on:
  - click on input field
  - input blur
  - date selection

### **Show calendar on focus:**
- opens on:
  - click on input field
  - focus on input field for example with tabbing in it
- closes on:
  - click on input field
  - input blur
  - date selection

### **With calen

[2021-01-22 08:22] mst101 commented on #67
Hmm... for something so seemingly simple, this is proving to be frustratingly difficult :-)

I've set this issue aside for now and am carrying on with my work on making the calendar keyboard navigable. Those changes will be closing the calendar when no elements within it are focused so hopefully we should be able to resolve this issue at the same time.

[2021-01-22 12:49] TomKeyte commented on #77
Hi @MrWook. I've updated the issue because what I stated wasn't the problem, but a symptom of a pseudo-fix.

The actual problem I was having, was that with `show-calendar-on-focus` enabled, when you click to open the datepicker, the calendar first opens due to the `showCalendarByFocus` method, but then immediately flickers closed due to a subsequent call to `showCalendarByClick`, which toggles the

[2021-01-22 13:00] MrWook commented on #77
Thank you for the report i will look into it 👍

[2021-01-22 13:34] adambartosiewicz opened #78 "Vue 3 compatibility"
Any plans for updating the code to be compatible with Vue 3?

[2021-01-22 13:49] MrWook commented on #78
Hey good question.

Currently i'm mainly working with nuxt which is not compatible with vue3 yet this means i'm not really into vue3 at the moment but i know there is a library that will build a vue3 compatible file out of a vue2 library i just don't know how it is called anymore. If i find it again, i will check it out.

@mst101 is constantly improving this package and is in the process of adding

[2021-01-28 12:28] julsbreakdown opened #79 "Dom value not updated when using typeable"
Hello,
I am having issues when reseting a date.
When selecting a date using the datepicker every thing works as expected.
However when i type the date inside the input (using typeable=true), the dom value is not updated.
The prop value however is updated.

[code]

[code]
When changing the value with the **datepicker**, both newVal & oldVal are correct, and the Dom **IS UPDATED**
But when changing

[2021-01-28 13:47] MrWook commented on #79
Hey, i will look into it next week.

In the meantime did you try to use `v-model`?
`v-model` should be always up to date and you could watch the value from it

[2021-01-28 13:55] julsbreakdown commented on #79
I did try both. No change =(
Thanks

[2021-02-01 11:14] MrWook commented on #79
Hey, i tested your case with v-model and everything seems to be correct.

If i select a date or type it, the events and the model will change to the new date even if i get the date with a js selector like `document.querySelector(".myInput").value`

Maybe the events are confusing because a `blur` event on the input field will trigger the other events again. In this trigger the new and old value are

[2021-02-01 13:42] mst101 commented on #67
@matjaz321 - I'm still struggling with this. Please see #53 and let me know if you have any ideas! Thanks

[2021-02-04 07:28] #77 closed

[2021-02-04 13:34] julsbreakdown commented on #79
hello @MrWook
Thanks for the feedback, my problem remains. I will try to explain it differently.
Using the logs:
![image](https://user-images.githubusercontent.com/10759614/106898383-66f02680-66f4-11eb-9d00-d15b4c7aa1b4.png)

1st log is when selecting 04/05 using the datepicker widget
2nd log is reseting the input Value => initial value is displayed correctly in the input 01/05
3rd log is change t

[2021-02-06 15:29] vincentccw opened #84 ""year" view becomes not selectable when disabledDates are entered"
When `:disabled-dates` is used to limit date within a date range, the year view becomes not selectable. Is there any workaround for this?

![image](https://user-images.githubusercontent.com/7234662/107122455-d9b6f880-68d2-11eb-8bd1-ad0fd13ea590.png)

Sample code:
[code]
[code]

[2021-02-08 06:13] MrWook commented on #84
Hey, thanks for the report i will try to fix it

[2021-02-08 06:33] MrWook commented on #79
I'm still confused. If i add the `clear-button` prop to reset the date it's still working even if i add a new button to clear the model everything is updated.
Do you mind creating a reproduction repo or some kind of codesandbox online so i can check it out?

[2021-02-08 06:38] #84 closed

[2021-02-09 15:19] julsbreakdown commented on #79
Hello @MrWook
Here is a codpen
https://codepen.io/jujulelama/pen/rNWLENV

[2021-02-09 15:26] MrWook commented on #79
For me everything works fine :/
Which browser are you using?

[2021-02-09 15:26] julsbreakdown commented on #79
I press enter after typing the input

[2021-02-09 15:29] MrWook commented on #79
Ah yes i see thank you for the report, i will try and fix it

[2021-02-16 13:49] #79 closed

[2021-03-29 13:38] julsbreakdown commented on #79
@MrWook Thanks for the fixe, when will you do the next release?

[2021-05-06 22:58] r4fx opened #93 "More control for day cell content"
I found that [`dayCellContent`](https://github.com/sumcumo/vue-datepicker/blob/master/src/components/PickerDay.vue#L34) property is a bit useless without parsing it in template by `v-html` directive.
By this small addition we could have more control with customizing day cell content.
What do you think about extend it? I could prepare PR.

[2021-05-07 09:48] tomekszeliga commented on #93
@r4fx you are totally right! Would be great. We are trying to find another, hacky way to fix our issue, but having `Proper` solution would be great!

[2021-05-07 12:46] MrWook commented on #93
I'm not really a fan of v-html, how about a slot?

[code]

[2021-05-10 12:31] r4fx commented on #93
Scoped Slot was my second thought. Would be great to have it.

[2021-05-10 13:16] MrWook commented on #93
Would this meet your requirements?
https://github.com/sumcumo/vue-datepicker/pull/95

[2021-05-10 13:17] MrWook commented on #61
Closing because of no response and because it should not be possible as i know

[2021-05-10 13:17] #61 closed

[2021-05-10 13:19] MrWook commented on #42
Won't be implemented because of too much work for too less functionality.

[2021-05-10 13:19] #42 closed

[2021-05-11 06:19] #93 closed

[2021-05-24 19:33] brandonburkett opened #97 "Possible to set single letters for day-header?"
Hello,

In version 2.1, I believe day headers where just single letters.  With 3.2, it looks like three letter abbr instead.  Is it possible to continue to use the single letter abbreviations in 3.2?

Thanks,
Brandon

[2021-05-24 23:08] brandonburkett opened #98 "ie11 no longer working with 3.2.1"
Hello,

It looks like arrow functions are still included in both Datepicker.common.js and Datepicker.js making date pickers fail on ie11.

Thanks,
Brandon

[2021-05-25 06:05] MrWook commented on #98
Thanks for the report i will look into it

[2021-05-25 07:34] MrWook commented on #97
Hey it checked 2.1 out and there were three letter abbr before, too.
Do you mind checking it out and show me a screenshot? Maybe it is language specific, atleast for en they are three letter long

[2021-05-25 07:43] #98 closed

[2021-05-25 13:20] brandonburkett commented on #97
We were on 2.1.3 and you are totally right! I looked at our custom css and it looks like we had custom styling on .cell .day

[code]

But with 3.2, it looks like the class is now just .day-header.  We'll update styling on our end.

One unrelated item (similar to the above), we also had custom styling for the input itself, but it looks like with 3.2, the input no longer has type="text" attribute (l

[2021-05-25 13:22] brandonburkett commented on #98
Ha, thank you!  Quick following up as I did not see it in the docs, is this the proper way to import the transpiled version of the library: `import DatePicker from '@sum.cumo/vue-datepicker/dist/Datepicker.common.js'`

If I do `import DatePicker from '@sum.cumo/vue-datepicker'` I end up with the non-transpiled esm.

Thanks,
Brandon

[2021-05-25 13:43] MrWook commented on #97
Hey sorry for the inconvenients, this was duo to some clean up refactoring and i didn't think that would break stuff for people :/
I suggest that you use a selector like `.vdp-datepicker input` but if html/css changes break stuff for some people we should make major releases for those changes too. For example this new  PR https://github.com/sumcumo/vue-datepicker/pull/96 should be a major release.

[2021-05-25 13:45] brandonburkett commented on #97
We are good on this side!  I agree, I was surprised to see the very specific styling and we should have relied on internal class names.

Thank you for your help :)

[2021-05-25 13:45] #97 closed

[2021-05-25 15:39] brandonburkett commented on #98
Thank you, I did try to include the module in our babel transpilation process, but it would not convert the Language class (just the Datepicker one).  Unsure why (babel 7 + webpack 5), so just used the commonjs file.

[2021-05-28 15:53] brandonburkett opened #100 "Commonjs bundle and iOS Safari 9"
Hello again,

We are doing cross browser testing after updating to 3.2.1.  Ie11 is working fine, but Safari 9 is not, the error we are seeing is:

[code]

what browserlist is babel compiling to for this project? Safari 9 previously worked and I am trying to avoid bundling node_modules if I can.

Thanks,
Brandon

[2021-05-28 16:33] MrWook commented on #100
That seems to be correct before 3.x.x there wasn't the `const` usage. Before version 3 there wasn't a browserlist so i guess thats the issue but do you really wanna support a browser that is blow 0.5% usage and is 5 years old?

Babel is compiling with the default browserlist. I guess that this would be something like
[code]

At least thats whats in their documentation https://github.com/browsersli

[2021-06-13 10:13] nuriakman opened #102 "Demo link is broken"
Demo link to page https://sumcumo.github.io/demo is broken.

[2021-06-14 06:25] MrWook commented on #102
Can you tell me where you got this link from?

The three links to the documentation in the readme are
- https://sumcumo.github.io/vue-datepicker/
- https://sumcumo.github.io/vue-datepicker/demo/
- https://sumcumo.github.io/vue-datepicker/guide/Migration/

[2021-06-14 06:26] MrWook commented on #102
Sry i missed clicked the close btn

[2021-06-14 08:12] nuriakman commented on #102
Page: https://sumcumo.github.io/vue-datepicker/guide/
Under Title: "Getting Started"

[2021-06-22 08:16] #102 closed

[2021-06-29 07:55] pavel-muset opened #107 "Add transition support"
Hi. Can you add a transition support in next updates?

[2021-06-29 08:41] mst101 commented on #107
Yep, this is coming soon...

[2021-07-22 08:13] MrWook commented on #107
Was done in in #109 and #112

[2021-07-22 08:13] #107 closed

[2021-07-27 08:48] x42y opened #113 "sideEffects: false causes CSS to not be included in production builds"
Hello, when migrating from v2 to v3, we noticed that the CSS were not being applied when building for production (but in dev everything works).

It seems as if `sideEffects: false` in package.json causes the CSS to not be included when building for production. See here: https://github.com/vuejs/vue-loader/issues/1435

If I remove the `sideEffects` flag from package.json, the CSS will be included a

[2021-07-27 08:55] MrWook commented on #113
Hey, how do you import the datepicker? Maybe you are using the components directly. The bundles don't have any css in them, the css is extracted out of the single file components into a css file which you need to include by your self.

[2021-07-27 09:01] x42y commented on #113
I import them directly in the component that is using them:

`import Datepicker from '@sum.cumo/vue-datepicker'`
`import '@sum.cumo/vue-datepicker/dist/Datepicker.css'`

I have checked the CSS file after build, and can see that with `sideEffects: false` the CSS is not included, but when I remove it, the CSS is included.

[2021-07-27 09:13] MrWook commented on #113
Wow a direct import is striped away, this is stupid not gonna lie 🤦

I found an explanation for it but i think its still pretty stupid:

import 'npm-package/style.css'
has no variable assigned to this import which effectively means "this imported module is not used anywhere in the application" for Webpack. And so Webpack simply discards the 'npm-package/style.css' file from the bundle as part of t

[2021-07-27 10:09] djixadin commented on #28
There is something wrong with this. The input and selected events are emitting a date with no time. Am i doing something wrong or is that new intended behavior

![image](https://user-images.githubusercontent.com/22941532/127136660-de39e47d-4959-4085-a2e8-197d0e9a03bd.png)

using latest version at this time: 3.2.1

[2021-07-29 02:23] loicgeek opened #114 "Style is not correctly applied on production, but work on dev environment"
**"@sum.cumo/vue-datepicker": "sumcumo/vue-datepicker"** (latest master , I needed the fix with tailwind inline conflict),
Framework: **Nuxtjs 2.14.12**,

<img width="363" alt="Screenshot 2021-07-29 at 03 18 01" src="https://user-images.githubusercontent.com/33604660/127421438-ee19ff1b-f930-4853-aa24-a2cffeb9d99e.png">

The above image is on dev environment, once I compiled, I got this :

<img wid

[2021-07-29 06:07] MrWook commented on #114
This is a duplicate from https://github.com/sumcumo/vue-datepicker/issues/113
I'm gonna fix this now and make a new release

[2021-07-29 06:07] #114 closed

[2021-07-29 06:55] MrWook commented on #113
Release a new version 3.2.2 with the fix for the sideeffects

[2021-07-29 06:55] #113 closed

[2021-08-03 16:02] arwinvdv opened #117 "How to use dayCellContent slot?"
I use version 3.2.2 but the dayCellContent is not working: https://codesandbox.io/s/cocky-austin-fvzg6?file=/src/App.vue

Code used:

[code]

Can someone tell me what I'm doing wrong?

[2021-08-03 19:29] mst101 commented on #117
My mistake, sorry!

@MrWook - the above PR should fix this. I also added a test to prevent it from occurring again.

[2021-08-04 06:28] MrWook commented on #117
Ah shit, i failed with the release i'm sorry 🤦  The 3.2.2 release should not have the transition changes in it

[2021-08-04 06:28] #117 closed

[2021-08-04 06:47] MrWook commented on #117
@arwinvdv Now i published correctly and the breaking changes (which introduced this bug) are gone. Please try out the new version 3.2.3

[2021-08-04 07:04] arwinvdv commented on #117
@mst101 @MrWook Thanks for the fast fix!!

[2021-08-04 08:36] arwinvdv opened #121 "Event changed-month/year not working with min/max-view set"
Hi, when I set `minimum-view="day"` and `maximum-view="day"`, the events `changed-month` and `changed-year` are not triggered anymore when you change the month/year. Only the event `changed-decade` will be triggered every time.

Sample:
https://codesandbox.io/s/cocky-austin-fvzg6?file=/src/App.vue

I use now the `changed-decade` event as workaround, but I think its a bug?

[2021-08-04 08:50] MrWook commented on #121
Hey, thanks for the report it is definitely a bug. I will look into it

[2021-08-09 06:48] mst101 commented on #121
Sorry guys, me again. @MrWook - I'm on it and will send through a PR today.

[2021-08-09 07:39] #121 closed

[2021-08-09 09:16] arwinvdv commented on #121
Nice, thanks! Looking forward to the new release.

[2021-08-10 09:23] pavel-muset opened #124 "Transition missing"
Greetings. Why transition support was removed in 3.2.3? it is still available in 3.2.2.

[2021-08-10 09:37] MrWook commented on #124
Because it was a breaking change. I will soon release a major version release for 4.0.0 with a migration guide

[2021-08-10 12:12] #124 closed

[2021-08-16 09:40] mst101 commented on #33
I'm just learning Typescript and am thinking of having a go at migrating this project across, provided the maintainer is in favour of doing so (@MrWook - please let me know).

@abezulski - have you already made a start on this? If so, any chance you could share your code? Thanks

[2021-08-16 10:32] mst101 commented on #33
Actually @MrWook - rather than converting to typescript, would you prefer if I had a go at migrating the project to Vue 3? What's more important? I want to learn both...

[2021-08-16 13:43] MrWook commented on #33
@mst101 i added a basic typescript setup https://github.com/sumcumo/vue-datepicker/pull/127 feel free to migrate everything.
A basic rule is that you never want to have `any` types. Always add a type for something.

Let's make little steps towards vue3 even if it is out quite a while now a lot of projects are on vue2 or starting with vue2.
So let's start with migrating to typescript and then addin

[2021-08-19 08:01] dam1r89 opened #128 "Time component of the value"
Would you accept a PR that would add property called `preserveTime` (or something similar) that would emit new date but keep the time from the initial input.

For this setup:
[code]
after picking a date it would emit selected date but with "00:00:00" time.

My main concern would be timezone problem, so I would use `getUTCHours()` and `setUTCHours()`, so it should keep the timezones consistent.

Th

[2021-08-23 15:28] Kenvdb opened #130 "Vee Validate and Datepicker"
I'm trying to use Vee Validate in combination with Datepicker, but unfortunately the fieldname attribute is not attached to the error message which results in a message like "{field} is a required field", instead of "Date is a required field".

Any thoughts how to fix this?

[2021-08-24 06:30] #130 closed

[2021-08-24 07:46] MrWook commented on #130
Did you resolved your issue by yourself? Was there a learning for other people?

[2021-08-24 08:29] Kenvdb commented on #130
Thanks for your reply. Yes, it was a configuration problem in the form where the Datepicker component is being used...

I stumbled accross this page where the exact issue was asked:
https://github.com/logaretm/vee-validate/issues/2482

The weird thing is that I've actual never used the name attribute on the Validation Provider, but only on in the input field itself. Also in the current Form compon

[2021-09-02 11:20] arwinvdv opened #131 "Disabled next/prev not visually disabled"
See example:

https://codesandbox.io/s/charming-pateu-bkc4z?file=/src/App.vue:1054-1259

The previous button should be disabled (css class is assigned, but its not visible).

I manually added this css to fix it:
[code]

[2021-09-28 13:45] Kenvdb opened #133 "Event selected is continuously being triggered when typeable is true"
I'm having troubles when implementing the Datepicker in combination with typeable.

When typeable is true, the selected-event is continuously being triggered, which I'm using to update the users view.

[2021-10-29 07:43] realnot opened #134 "v-model not working / two-way bind not working"
I have this formulate input:

[code]

When I press F5 to reload the page, the data in `form.site_acquisition_start`is loaded properly, but when I click on detail page (more fast than F5) and try to reload the record, all others form fields are loaded properly, while date input fields are not displayed (but present in form object.

Here the vue formulate form that contains all input fields

[code]

[2021-10-29 07:49] #134 closed, assigned to nobody

[2021-11-26 16:30] hisuwh commented on #78
@MrWook are you thinking of [vue-demi](https://github.com/vueuse/vue-demi)?

[2022-01-24 21:31] rainey-tf commented on #121
Was this issue resolved? The `changed-decade` event is still emitting when I change months.

[2022-01-25 06:00] wadday commented on #78
here is a snapshot of vuejs-datepicker implemented for Vue 3. uses all the functionalities in vuejs-datepicker.

my main objective was to workaround to use in Vue 3 however, during the implementation I've also added one of the biggest issues I had on my office project. On day views every month numbers of days are different and the picker resizes the height accordingly.

![image](https://user-image

[2022-01-25 07:08] MrWook commented on #121
Hey, i'm sorry but it's not released yet. It will be released in the next major version

[2022-01-25 10:28] hisuwh commented on #78
@wadday is this something you have been developing separately to this package?

[2022-01-25 11:16] MrWook commented on #131
This is fixed and will be releases in the next major version

[2022-01-25 11:16] #131 closed

[2022-01-25 11:22] mst101 commented on #133
I'll be working on this one next. I think a typeable calendar should emit a `selected` event when a date is selected in the datepicker - or when the `enter` key is pressed on the input field.

[2022-01-25 12:11] #31 closed

[2022-01-25 13:08] mst101 commented on #67
@MrWook - I think we can close this now that the keyboard navigation has been merged.

When you click away, the calendar will close, no matter which way it was initially opened.

[2022-01-25 13:14] MrWook commented on #67
True, this will be published in the next major release

[2022-01-25 13:14] #67 closed

[2022-01-25 13:16] mst101 commented on #67
@MrWook I still think the `show-calendar-on-button-click` could be better named to `only-show-calendar-on-button-click` (or possibly done away with entirely?). Basically, all it does is to restrict the ways by which you can open the calendar to clicking via the calendar button. i.e. it disables `show-calendar-on-focus` and opening via input click. Your thoughts?

[2022-01-28 07:28] MrWook commented on #67
I think `only-open-calendar-on-button-click` is a better naming. We should keep this prop because some people want to only open it on a btn click.
We already have many breaking changes so this shouldn't be a problem to cleanup a little bit

[2022-01-28 17:55] wadday commented on #78
Idea is to make it public as a separate package for Vue 3. However, my schedule is very tight at the moment.

[2022-02-22 04:49] wadday commented on #78
those who are looking for Vue 3 version check this out. [https://github.com/shubhadip/vuejs3-datepicker](https://github.com/shubhadip/vuejs3-datepicker )

[2022-03-24 12:30] thorstenschroeder opened #142 "Cannot clear date value when typeable is true"
Hello all,

thank you for this very nice plugin.

I noticed that when I have a typeable date field and I clear it with the keyboard the value of the date remains the just deleted date. So basically the date never gets deleted/cleared.

I went through the issues here and found an example in #79 where this functionality with an older version works.
I only added the refrence to the latest version for

[2022-03-25 07:59] mst101 commented on #142
Thanks for reporting this bug @thorstenschroeder. The issue you raised should be fixed as part of the fix for #133. This has been taking me a while, but I intend to submit a pull request soon...

[2022-03-29 16:51] acallaghan commented on #78
Any movement on Vue 3 @MrWook? Nuxt is compatible with Vue 3 now

[2022-03-29 16:53] acallaghan commented on #78
Ah i see this commit - https://github.com/sumcumo/vue-datepicker/commit/46bab513fc584f0266f3e1d78e518c72876a2376

Let me know if you need any help at all, happy to help out here

[2022-04-21 20:18] dburgess560 opened #143 "Date values with time shift month edges"
## Version
4.0.0

## Steps to reproduce
Using this snippet of code:
[code]
Produces the following image at Thu, 21 Apr 2022 20:00:44 GMT:
![image](https://user-images.githubusercontent.com/5413080/164543458-250c9cc4-723a-4d15-8dac-66bed7c3f0d0.png)
Which does not showcase the edges of April correctly, April 1st is not shown and May 1st is.

However when utilizing a date with no time/time at midnig

[2022-04-22 07:48] ak56Lk commented on #143
I had a similar problem but it was the wrong date which was sent to the server. I had set :use-utc="true" and then there was midnight in the time and the correct date. That should be the default value

[2022-06-01 20:16] brandonburkett opened #147 "Opening a second date picker does not close the first"
Hello,

In 3.x.x if you had two date picker inputs, and open date picker 1... then clicked an opened date picker 2, it would auto-close date picker 1.

With 4.x.x, it seems date picker 1 stays open when clicking date picker 2.  This also looks to be the case on the demo page in the docs.

Our use case is side by side "from" and "to" dates, so will always have two side by side.

Is there a way in 4

[2022-06-03 00:20] mst101 commented on #147
Hi Brandon, thanks for highlighting this.

The short answer is no, not yet. But I intend to submit a PR tomorrow which will fix this as I can't imagine any benefit in allowing more than one datepicker to be open at a time.

Watch this space.

[2022-06-03 00:30] brandonburkett commented on #147
Great, that is awesome! I put a temp hack in place outside the library... listening on the focus event and triggering the below method and manually setting `view` an empty string.  Would love to get rid of it :)

[code]

[2022-06-07 13:46] codesmithing opened #150 "typedDate is not updated when selectedDate changes and typeable is true"
Hi there,

I'm having trouble with two datepickers, one updates the v-model for the second and I expect the DateInput to update also. Unfortunately while internally the `selectedDate` value changes in DateInput, the `typedDate` which is shown in the input does not update until a manual field blur is triggered.

I've noticed that this may be fixed as a byproduct of @mst101's changes in https://gith

[2022-06-08 12:19] #133 closed

[2022-06-08 12:50] #142 closed

[2022-06-08 13:30] #147 closed

[2022-06-08 13:31] #150 closed, assigned to nobody

[2022-06-08 14:23] #143 closed

[2022-06-13 10:12] PyroxFyre opened #152 "Style loading result in 404"
I'm trying to import style as you said in your docs :

[code]
but when I'm refreshing my page, in console, I got this error :
`GET https://my-url/~@sum.cumo/vue-datepicker/dist/Datepicker.css [HTTP/1.1 404 Not Found 32ms]`

FYI, css-loader is installed and work with others css, but I think it's about the link to css file

[2022-06-13 10:14] PyroxFyre commented on #152
And when I'm trying with sass file, I got 404 too

[2022-06-13 10:24] PyroxFyre commented on #152
I found that trying to do :
[code]
in the same file where I import the date-picker works. Maybe need a review / fix about it, or I'm doing something wrong but don't see the problem

[2022-06-15 08:19] MrWook commented on #152
For me it seems like you are missing the configuration to resolve modules. I'm not sure but i think you need to enable `options: {
          modules: true,
        },` in the css loader 🤔
Did you try to import it inside the script tag? This should normally work 🤔

[2022-06-15 13:28] PyroxFyre commented on #152
For ccs loader, I don't really know, I'm on a project and I never seen how it really works. I'll look for it.

For import, thing is my imports are in JS files that work as a bundle, with many imports and we import the JS file we need, so we don't load everything.

Here is my import in bundle :
![image](https://user-images.githubusercontent.com/58972345/173838239-5dcb697a-b188-472e-8bc0-d2a4dc0bd35

[2022-06-17 13:58] thetomcake commented on #150
thank you very much for merging in the fix for this @MrWook, is there any chance of getting a tag release for it as we have a PR waiting for it :+1: <3

[2022-06-29 11:03] mst101 opened #160 "How to interpret typed dates entered in simplified ISO 8601 format?"
When JavaScript parses dates, it [assumes a timezone of UTC](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse#differences_in_assumed_time_zone) whenever it recognises a date string as being a simplification of the ISO 8601 format. e.g. '2000-01-01' is assumed to be in UTC timezone.

However, non-standard date strings are parsed using the browser's local t

[2022-07-04 12:24] thetomcake opened #162 "Request for tag release with latest changes"
Hi guys,

Really appreciate the hard work you guys have been putting in on this lib.

I was wondering if we could get a tagged release for the changes since last release in February, specifically this one https://github.com/sumcumo/vue-datepicker/pull/149

I have an outstanding PR depending on it :-)

Thanks.

[2022-07-18 09:05] mst101 opened #165 "Github docs not showing properly"
Not sure if you're aware @MrWook, but the link to [https://sumcumo.github.io/vue-datepicker/](https://sumcumo.github.io/vue-datepicker/) takes you to zxcvbn-ts...

[2022-07-18 11:24] MrWook commented on #165
Yeah i messed something up thanks i fixed it 🤦

[2022-07-18 11:24] #165 closed

[2022-07-20 08:09] thetomcake commented on #162
OK no problem, looking forward to it :-)

[2022-07-20 08:09] #162 closed

[2022-08-04 11:46] mst101 opened #173 "Visibility on npmjs.com?"
I can't seem to find the datepicker on [npmjs.com](https://www.npmjs.com/search?q=vue-datepicker). Any idea why?

[2022-08-04 12:17] MrWook commented on #173
Because it's in a namespace https://www.npmjs.com/package/@sum.cumo/vue-datepicker
You can click on the npm icon in the readme to get there too

[2022-08-04 12:22] mst101 commented on #173
Ah thanks - I've found it now - a shame it's only on page 3, but never mind. I did do a search for @sumcumo/vue-datepicker (but forgot the dot!)

[2022-08-04 12:22] #173 closed

[2022-08-05 08:46] mst101 commented on #160
I've spent quite a while looking into this and this is what I've found:

1. The `use-utc` prop works fine, provided you're consistent about which format (UTC vs local) you input/output the dates.

There are 4 props that allow you to input dates:
[code]
-> If `use-utc` is `false`, you should input these dates as local dates and expect a local date as output
-> If `use-utc` is `true`, you should inp

[2022-08-07 05:46] mst101 commented on #160
Since writing this, I've softened my view on allowing date strings as props. After all, there's nothing that stops someone from changing this:
[code]
to this:
[code]
...so we may as well allow them. I do think it's important though to have some documentation that explains the difference between local dates and UTC dates to help prevent developers from making errors and I'll submit a PR for this sh

[2022-08-11 20:20] mspeener opened #180 "Date formatting displaying Euro format in US"
I'm using format="dd/MM/yyyy" on the datepicker component

Jun 2, 2022 formats in US as 06/02/2022

It currently displays 02/06/2022 in the input field when I choose that date
![issue](https://user-images.githubusercontent.com/4555731/184234888-5d06a313-529f-4313-95a7-a358dff07ff4.PNG)

[2022-08-11 20:26] mst101 commented on #180
That's normal... if you want to display months first, try format="MM/dd/yyyy".

[2022-08-11 21:08] mspeener commented on #180
OMG I'm an idiot! Thanks

[2022-08-16 09:20] #180 closed

[2022-09-23 15:30] brandonburkett commented on #78
We're finally making the vue3 upgrade soon.  Is this still a pending feature or will it become a separate package?

[2022-09-28 08:28] Remo opened #181 "reedsy fork"
I've noticed that there's another fork which is quite active: https://github.com/reedsy/vuejs-datepicker

Has anyone checked those changes? I didn't notice, but we are still using the original version which hasn't been maintained in a long time. Wondering what fork we should migrate/contribute to.

[2022-09-28 09:41] mst101 commented on #181
Hi Remo, thanks for pointing that out. I wasn't aware of that fork, but have been actively contributing to this fork over the past couple of years, or so. It does seem daft to duplicate effort...

I've just had a brief look at the reedsy fork and noticed that there are no transitions. I also ran into trouble when adding disabled dates and experienced some difficulty when using the keyboard navigat

[2022-09-28 09:53] mst101 commented on #78
I've been a bit distracted recently learning Nuxt (which I'm enjoying very much...), but I have also been working locally on upgrading this project to Vue 3. It's working, but I still have issues with getting some unit tests to pass. There's also more to be done with setting up a v3 version of the e2e tests + the actual build.

I will upload my work-in-progress asap - and will welcome any help you

[2022-09-28 10:12] Remo commented on #181
Thanks for the quick reply. I also noticed that they don't have an issue tracking, making me believe they manage it for themselves. Which of course if perfectly fine, but we'll have a look at your fork. Thanks for keeping this project alive!

[2022-10-13 16:29] NindaKhairunisa opened #183 "disabledDates ranges but inclusive"
Hi,
I just wondered it is possible to do disableDates with ranges but inclusive?
For example i want datepicker is open in October 2019 and October 2022 only.
I can't figure out how to do it
Thank you

[2022-10-14 14:15] mst101 commented on #183
Not currently... but you can get around this with something like the following:

[code]

N.B. I added an `open-date` as without this, the calendar opens on today's month with the focus on the `previous` button. We should probably amend this so that - by default - the calendar focuses the last available date?

[2022-10-19 14:38] mst101 commented on #78
Please see #185. We're getting there, but I could do with some help getting these 6 unit tests to pass!

[2022-10-20 08:54] NindaKhairunisa commented on #183
@mst101 thank you it work sorry not replying for a week

[2022-10-20 09:34] mst101 commented on #183
You're welcome.

Personally, I'm not a great fan of the way these to/from/ranges dates work currently... I'd prefer it if they were INCLUSIVE i.e. in the above example, you would disable all dates up `to` (and including) 30th September 2019, and also `from` 1st October 2021 and beyond. You'd also have a disabled date range between the two years i.e. `from` 1st November 2019 up `to` (and including)

[2022-10-31 15:16] tiborAntalInterway opened #186 "Using in vue web component"
Hi, i want to use datepicker in vue web component (https://github.com/vuejs/vue-web-component-wrapper) but there are some problems.

- keyboard navigation is not working correctly, if i want change date with keyboard, keypress.left it does nothing, keypress.down and keypress.right change month (not day) to next, keypress.up change month to prev (i expect, that keyboard navigation changing days)
-

[2022-11-01 11:18] mst101 commented on #78
Good news! All tests are all passing now - upgrading `vue-test-utils` from v2.1 to v2.2 solves the problem.

All that's left now (as far as I'm aware) is to update the Cleave & Vee-validate integrations in Vuepress 2 docs...

[2022-11-01 13:17] mst101 commented on #186
Hi, thanks for reporting. I'm not very familiar with web components, so if you're able to provide a repo, that would help me to look into this further.

[2022-11-04 01:54] brandonburkett commented on #78
Our vue3 transition got pushed until next month, but can help check how it works in our env then.

[2022-11-08 09:56] yashha commented on #186
@tiborAntalInterway Did you find a solution or an alternative for vue2, I'm also struggling with the same problem

[2022-11-08 14:42] tiborAntalInterway commented on #186
Hi @mst101, repo is here - https://github.com/tiborAntalInterway/datepicker

[2022-11-09 10:13] mst101 commented on #186
Hi both, since not all my updates have yet been merged to the @sum.cumo repo, I imported my latest vue-datepicker code into your web-components repo and this solves the problem of the datepicker immediately closing. See https://github.com/mst101/vue-datepicker-tibor.

As you can see from my 2nd commit (e.g. open the first datepicker, arrow down a couple of times to today's date, then arrow right t

[2022-11-09 20:13] tiborAntalInterway commented on #186
I think you can use this - https://developer.mozilla.org/en-US/docs/Web/API/ShadowRoot/activeElement
I used this and it work fine
`/**
     * Moves the focused cell up/down/left/right
     * @param {Object}
     */
    handleArrow({ delta }) {
      let shadowDom = document.activeElement
      let shadow = shadowDom.shadowRoot;
      let focusedElem = shadow.activeElement;

      const stepsRemain

[2022-11-10 22:50] mst101 commented on #186
Great stuff! I'd never heard of `ShadowRoot`...

I've updated the code at https://github.com/mst101/vue-datepicker-tibor - and your example is working now.

I also spotted a bug which caused the calendar to mistakenly re-open immediately after selecting a date when both `typeable` and `show-calendar-on-focus` are true - so I fixed that too.

N.B. I noticed you were using a 'd.M.yyyy' format on a t

[2022-11-11 15:42] vinaygunnam opened #189 "Display value is NOT updated when date is typed in and set a value later"
Steps to reproduce:

1. Enter a date manually by typing (typable=true).
2. Commit the value by hitting ENTER.
3. Change the v-model programmatically.

Expected: the datepicker should display the latest value
Actual: the datepicker displays the previous/stale value

Demo: https://codesandbox.io/s/kind-dirac-q0uci

This is similar to the issue #79 which has been fixed.

[2022-11-11 16:45] tiborAntalInterway commented on #186
Hi @mst101 can you help me with this? By default is set dateFrom and dateTo, but the dateTo is not showing in input (but its selected on today with new Date())

happening also at https://github.com/mst101/vue-datepicker-tibor

[2022-11-11 17:17] mst101 commented on #186
Yes - funnily enough, that turns out to be the same issue as raised in #189 a couple of hours ago. It will be fixed once PR #190 is merged.

I've updated https://github.com/mst101/vue-datepicker-tibor, so you can see it's working there...

[2022-11-11 17:20] mst101 commented on #189
Thanks for reporting @vinaygunnam. I've just submitted a PR - it will be fixed as soon as #190 is merged.

[2022-11-18 11:40] #186 closed

[2022-11-18 14:03] #189 closed